doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Nyondo Login
  link(rel='stylesheet' href='/css/signup.css')
body
  .signup-container
    h2 Login
    if error
      .error-message= error
    // This is a form
    form(action='/login' method='post' id='loginForm' novalidate)
      .form-group
        input(type='text' name='email' placeholder='Email or Phone Number' required='')
      .form-group
        input(type='password' name='password' placeholder='Password' required='')
      button.signup-btn LOGIN
      .extra
        p  Don't have an account? 
          a(href='/signup') -Signup

  script.
    console.log("Login JS is running");

    document.addEventListener("DOMContentLoaded", () => {
        document.getElementById("loginForm").addEventListener("submit", function (e) {
            const inputs = this.querySelectorAll("input, select");

            let hasEmpty = false;

            inputs.forEach(input => {
                if (!input.value.trim()) {
                    input.classList.add("error");
                    hasEmpty = true;
                } else {
                    input.classList.remove("error");
                }
            });

            if (hasEmpty) {
                e.preventDefault();
            }
        });
    });